<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.kureakurusu.dao.AlbumMapper">

    <sql id="selectFields">
        id, catalog_no, name, name_zh, name_en, barcode, release_date, publish_format,
        price, currency_unit, album_format, media_format, companies,
        has_bonus, bonus, description, remark, franchises, products, artists, images, track_info,
        added_time, edited_time, status
    </sql>

    <sql id="insertFields">
        catalog_no, name, name_zh, name_en, barcode, release_date, publish_format, price, currency_unit,
        album_format, media_format, companies, has_bonus, bonus, description,
        remark, franchises, products, artists, images, track_info, added_time, edited_time, status
    </sql>

    <update id="updateAlbumImages" keyProperty="id">
        update album
        set
        images = #{images}, edited_time = #{editedTime}
        where id = #{id}
    </update>

    <update id="updateAlbumTrackInfo" keyProperty="id">
        update album
        set
        track_info = #{trackInfo}, edited_time = #{editedTime}
        where id = #{id}
    </update>

</mapper>