<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.kureakurusu.dao.CommonMapper">
    <resultMap id="LoginUserResultMap" type="com.rakbow.kureakurusu.data.auth.LoginUser">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="roles" property="roles"
                typeHandler="com.rakbow.kureakurusu.toolkit.handler.JsonSetTypeHandler"/>
        <result column="permissions" property="permissions"
                typeHandler="com.rakbow.kureakurusu.toolkit.handler.JsonSetTypeHandler"/>
    </resultMap>

    <select id="getLoginUser" parameterType="java.lang.Long" resultMap="LoginUserResultMap">
        SELECT
        u.id AS id,
        u.username AS name,
        u.avatar as avatar,
        COALESCE(JSON_ARRAYAGG(r.role_key), '[]') AS roles,
        COALESCE(JSON_ARRAYAGG(p.key), '[]') AS permissions
        FROM r1_sys_user u
        LEFT JOIN r1_sys_user_role ur ON u.id = ur.user_id
        LEFT JOIN r1_sys_role r ON ur.role_id = r.id
        LEFT JOIN r1_sys_role_perm rp ON r.id = rp.role_id
        LEFT JOIN r1_sys_permission p ON rp.perm_id = p.id
        WHERE u.id = #{userId}
        GROUP BY u.id, u.username, u.avatar
    </select>

    <update id="updateEntityStatus" keyProperty="id">
        update ${param1}
        set
        status = #{status}
        <where>
            id in
            <if test="ids != null and ids.size() != 0">
                <foreach item="item" index="index" collection="ids" open="("
                         close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <update id="updateEntityDetail" keyProperty="id">
        update ${param1}
        set
        detail = #{text}, edited_time = #{editedTime}
        where id = #{entityId}
    </update>

</mapper>