<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.kureakurusu.dao.DiscMapper">

    <sql id="selectFields">
        id, catalog_no, name, name_zh, name_en, barcode, region, franchises, products, release_date, price,
        currency_unit, media_format, limited, spec, has_bonus, bonus, images, description,
        remark, added_time, edited_time, status
    </sql>

    <sql id="insertFields">
        catalog_no, name, name_zh, name_en, barcode, region, franchises, products, release_date, price, currency_unit,
        media_format, limited, spec, has_bonus, bonus, images, description, remark, added_time, edited_time, status
    </sql>

    <select id="getDisc" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
        where id = #{id}
        <if test="!status">
            and status = 1
        </if>
    </select>

    <select id="getDiscs" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
        <where>
            id in
            <if test="ids != null and ids.size() != 0">
                <foreach item="item" index="index" collection="ids" open="("
                         close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
        <if test="ids != null and ids.size() != 0">
            <foreach item="item" index="index" collection="ids" open="FIELD(id,"
                     close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getAll" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
    </select>

    <insert id="addDisc" parameterType="Disc" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into disc (<include refid="insertFields"></include>)
        values (#{catalogNo}, #{name}, #{nameZh}, #{nameEn}, #{barcode}, #{region}, #{franchises}, #{products},
        #{releaseDate}, #{price}, #{currencyUnit}, #{mediaFormat}, #{limited}, #{spec}, #{hasBonus}, #{bonus}, #{images},
        #{description}, #{remark}, #{addedTime}, #{editedTime}, #{status})
    </insert>

    <update id="updateDisc" parameterType="Disc" keyProperty="id">
        update disc
        set
        catalog_no = #{disc.catalogNo}, name = #{disc.name}, name_zh = #{disc.nameZh}, name_en = #{disc.nameEn},
        barcode = #{disc.barcode}, region = #{disc.region}, franchises = #{disc.franchises}, products = #{disc.products},
        release_date = #{disc.releaseDate}, price = #{disc.price}, currency_unit = #{disc.currencyUnit},
        media_format = #{disc.mediaFormat}, limited = #{disc.limited}, spec = #{disc.spec}, has_bonus = #{disc.hasBonus},
        edited_time = #{disc.editedTime}
        where id = #{disc.id}
    </update>

    <delete id="deleteDisc">
        delete
        from disc
        where id = #{id}
    </delete>

    <select id="getDiscsByFilter" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
        <where>
            <if test="catalogNo != null and catalogNo != '' ">
                and catalog_no like concat('%', #{catalogNo}, '%')
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="region != null and region != '' ">
                and region like concat('%', #{region}, '%')
            </if>
            <if test="franchises != null and franchises.size() != 0">
                <foreach item="item" index="index" collection="franchises" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(franchises as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="products != null and products.size() != 0">
                <foreach item="item" index="index" collection="products" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(products as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="mediaFormat != null and mediaFormat.size() != 0">
                <foreach item="item" index="index" collection="mediaFormat" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(media_format as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="limited != null and limited != '' ">
                and limited = #{limited}
            </if>
            <if test="hasBonus != null and hasBonus != '' ">
                and has_bonus = #{hasBonus}
            </if>
            <if test="!status">
                and status = 1
            </if>
        </where>
        <if test="sortField == 'id'">
            <if test="sortOrder == 1">
                order by id asc
            </if>
            <if test="sortOrder == -1">
                order by id desc
            </if>
        </if>
        <if test="sortField == 'releaseDate'">
            <if test="sortOrder == 1">
                order by release_date asc
            </if>
            <if test="sortOrder == -1">
                order by release_date desc
            </if>
        </if>
        <if test="sortField == 'price'">
            <if test="sortOrder == 1">
                order by price asc
            </if>
            <if test="sortOrder == -1">
                order by price desc
            </if>
        </if>
        <if test="sortField == 'status'">
            <if test="sortOrder == 1">
                order by status asc
            </if>
            <if test="sortOrder == -1">
                order by status desc
            </if>
        </if>
        <if test="sortField == null">
            order by id desc
        </if>
        <if test="row != 0">
            limit #{first}, #{row}
        </if>
    </select>

    <select id="getDiscsRowsByFilter" resultType="int">
        select count(id)
        from disc
        <where>
            <if test="catalogNo != null and catalogNo != '' ">
                and catalog_no like concat('%', #{catalogNo}, '%')
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="region != null and region != '' ">
                and region like concat('%', #{region}, '%')
            </if>
            <if test="franchises != null and franchises.size() != 0">
                <foreach item="item" index="index" collection="franchises" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(franchises as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="products != null and products.size() != 0">
                <foreach item="item" index="index" collection="products" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(products as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="mediaFormat != null and mediaFormat.size() != 0">
                <foreach item="item" index="index" collection="mediaFormat" open=""
                         close="" separator="">
                    and json_contains(JSON_EXTRACT(cast(media_format as json), '$.ids'),JSON_ARRAY( #{item} )) = 1
                </foreach>
            </if>
            <if test="limited != null and limited != '' ">
                and limited = #{limited}
            </if>
            <if test="hasBonus != null and hasBonus != '' ">
                and has_bonus = #{hasBonus}
            </if>
            <if test="!status">
                and status = 1
            </if>
        </where>
    </select>

    <select id="getDiscsOrderByAddedTime" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
        where status = 1
        order by added_time desc
        limit #{limit}
    </select>

    <select id="simpleSearch" resultType="Disc">
        select
        <include refid="selectFields"></include>
        from disc
        where
        (
        catalog_no like concat('%', #{keyWorld}, '%')
        or name like concat('%', #{keyWorld}, '%')
        or name_zh like concat('%', #{keyWorld}, '%')
        or name_en like concat('%', #{keyWorld}, '%')
        )
        and status = 1
        order by release_date desc
        limit #{offset}, #{limit}
    </select>

    <select id="simpleSearchCount" resultType="int">
        select count(id)
        from disc
        where
        (
        catalog_no like concat('%', #{keyWorld}, '%')
        or name like concat('%', #{keyWorld}, '%')
        or name_zh like concat('%', #{keyWorld}, '%')
        or name_en like concat('%', #{keyWorld}, '%')
        )
        and status = 1
    </select>

</mapper>