<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rakbow.kureakurusu.dao.FranchiseMapper">

    <sql id="selectFields">
        id, name, name_zh, name_en, origin_date, added_time, edited_time, description, remark, images, meta_info, status
    </sql>

    <sql id="insertFields">
        name, name_zh, name_en, origin_date, added_time, edited_time, description, remark, images, meta_info, status
    </sql>

    <select id="getFranchise" resultType="Franchise">
        select
        <include refid="selectFields"></include>
        from franchise
        where id = #{id}
        <if test="!status">
            and status = 1
        </if>
    </select>

    <select id="getAll" resultType="Franchise">
        select
        <include refid="selectFields"></include>
        from franchise
    </select>

    <insert id="addFranchise" parameterType="Franchise" keyProperty="id">
        insert into franchise (<include refid="insertFields"></include>)
        values (#{name}, #{nameZh}, #{nameEn}, #{originDate}, #{addedTime}, #{editedTime}, #{description}, #{remark}, #{images}, #{metaInfo}, #{status})
    </insert>

    <update id="updateFranchise" parameterType="Franchise" keyProperty="id">
        update franchise
        set
        name = #{franchise.name}, name_zh = #{franchise.nameZh}, name_en = #{franchise.nameEn},
        origin_date = #{franchise.originDate}, edited_time = #{franchise.editedTime},
        description = #{franchise.description}, remark = #{franchise.remark},
        images = #{franchise.images}, meta_info = #{franchise.metaInfo}
        where id = #{id}
    </update>

    <select id="getFranchisesByFilter" resultType="Franchise">
        select
        <include refid="selectFields"></include>
        from franchise
        <where>
            <if test="name != null and name != '' ">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="nameZh != null and nameZh != '' ">
                and name_zh like concat('%', #{nameZh}, '%')
            </if>
            <if test="isMeta != null and isMeta != '' ">
                and JSON_EXTRACT(meta_info, '$.isMeta') = #{isMeta}
            </if>
            <if test="!status">
                and status = 1
            </if>
        </where>
        <if test="sortField == 'id'">
            <if test="sortOrder == 1">
                order by id asc
            </if>
            <if test="sortOrder == -1">
                order by id desc
            </if>
        </if>
        <if test="sortField == 'originDate'">
            <if test="sortOrder == 1">
                order by origin_date asc
            </if>
            <if test="sortOrder == -1">
                order by origin_date desc
            </if>
        </if>
        <if test="sortField == 'status'">
            <if test="sortOrder == 1">
                order by status asc
            </if>
            <if test="sortOrder == -1">
                order by status desc
            </if>
        </if>
        <if test="sortField == null">
            order by id desc
        </if>
        <if test="row != 0">
            limit #{first}, #{row}
        </if>
    </select>

    <select id="getFranchisesRowsByFilter" resultType="int">
        select count(id)
        from franchise
        <where>
            <if test="name != null and name != '' ">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="nameZh != null and nameZh != '' ">
                and name_zh like concat('%', #{nameZh}, '%')
            </if>
            <if test="isMeta != null and isMeta != '' ">
                and JSON_EXTRACT(meta_info, '$.isMeta') = #{isMeta}
            </if>
            <if test="!status">
                and status = 1
            </if>
        </where>
    </select>

    <update id="updateMetaInfo" keyProperty="id">
        update franchise
        set
        meta_info = #{metaInfo}
        where id = #{id}
    </update>

    <select id="getFranchisesByParentId" resultType="Franchise">
        select
        <include refid="selectFields"></include>
        from franchise
        where JSON_EXTRACT(meta_info, '$.metaId') = #{parentId}
    </select>

</mapper>